<div id="{{EntryId}}" class="user">

  <span>id: </span>
  <div class="field"> {{EntryId}}</div>
	
  <span class="list">
  	<span  class="edit"  data-entryId="{{EntryId}}">edit </span>
  	<span class="delete"> delete</span>
  	<span class="save">save</span>
  </span>

  <br>


  <span>author: </span><div class="field"> {{Author}}</div><br>
  <span>title: </span><div class="field"> {{Title}}</div><br>
  <span>text: </span><div class="field"> {{Text}}</div><br>
  <!-- <input type="text" value="{{Text}}"> -->


  

</div>