body {
  padding-bottom: 80px;
}

.red {
  color: #e74c3c;
  cursor: pointer;
}

.violet {
  color: #9b59b6;
  font-size: .61em;

}

/*ALL POSTS VIEW*/
.post {
  border-bottom: 1px dotted lightgrey;
}

.post a {
  color: #e74c3c;
}

.post-img {
  max-width: 100%;
  overflow: hidden;
  margin: 5px 0;
}

.post-img img {
  max-width: 100%;
  display: block;
}

.navigation {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 50px;

}

.navigation li {
  float: none;
  display: inline-block;
}

.navigation li a {
  color: #333;
}

.post-title, .post-category {
  font-style: italic;
  padding: 5px;
}

.post-message {
  margin: 20px 0;
}


/*SINGLE PAGE*/

.single * {
  margin: 10px 0;
}

.single-img img {
  max-width: 100%;
}

.single-message {
  margin: 40px 0;
}
