<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="my-form">
        <div class="form-group">
          <input ng-model="addUser.userData.Username" type="text" placeholder="username" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="addUser.userData.Age" type="text" placeholder="age" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="addUser.userData.Position" type="text" placeholder="position" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success center-block" ng-click="addUser.addUser()">
        </div>
      </form>

      <pre>
        user: {{addUser.userData | json}}
      </pre>
    </div>
  </div>
</div>
