<header class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="logo text-center"><img src="/app/assets/images/logo.png" alt=""></div>
      <h4 class="text-center">Blahh</h4>
      <ul class="nav nav-pills text-center nav-center navigation">
        <li class=""><a ui-sref="home">Home</a></li>
        <li><a ui-sref="usersAll">Uers list</a></li>
        <li><a ui-sref="addUser">Add user</a></li>
        <li><a ui-sref="addPost">Add post</a></li>
      </ul>
      <!-- <hr> -->
    </div>
  </div>
</header>
