<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <!-- <h4>Home page </h4> -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <article ng-repeat="post in homeCtrl.postList | orderBy:'-DateCreated'" class="post">
             <h3 class="post-title text-center">
               <a href="/#/post/{{post.PostId}}">{{post.Title}}</a>
               <a href="/#/postUpdate/{{post.PostId}}"><span class="glyphicon glyphicon-pencil violet"></span></a>
             </h3>
             <h5 class="post-category text-center text-muted ">{{post.Category}}</h5>
             <h5 class="post-category text-center text-muted ">{{post.DateCreated | date:'medium':'GMT'}}</h5>
             <div class="post-img center-block"><img src="{{post.Image}}" alt="{{post.Title}}"></div>
             <div class="post-message text-muted">{{post.Text}}</div>

          </article>
        </div>
      </div>

    </div>
  </div>
</div>
