<article class="container">
  <div class="row">
    <div ng-model="single" class="single col-md-10 col-md-offset-1">
      <h2 class="text-center">{{single.post.Title}}</h2>
      <h4 class="text-center text-muted">{{single.post.Category}}</h4>
      <div class="single-img text-center"><img src="{{single.post.Image}}" alt="{{single.post.Title}}"></div>
      <div class="single-message text-muted"><em>{{single.post.Text}}</em></div>
    </div>
  </div>
</article>
