<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="my-form">
        <div class="form-group">
          <input ng-model="updatePost.postData.Title" type="text" placeholder="title" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="updatePost.postData.Category" type="text" placeholder="category" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="updatePost.postData.Image" type="text" placeholder="image url" class="form-control">
        </div>
        <div class="form-group">
          <textarea ng-model="updatePost.postData.Text" type="text" placeholder="text" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success center-block" ng-click="updatePost.updatePost(updatePost.postData)">
        </div>
      </form>

      <pre>
        post: {{updatePost.postData | json}}
      </pre>
    </div>
  </div>
</div>
