<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Users list: </h4>
      <ul class="list-unstyled">
        <li  ng-repeat="user in usersAll.userList | orderBy: '-DateCreated'" data-id="{{user.EntryId}}" class="usr">
          {{$index}}: {{user.Username}} <a ng-click="usersAll.deleteUser(user)"><span class="glyphicon glyphicon-remove red"></span></a>
          <!-- {{user.EntryId}} -->
        </li>
      </ul>

    </div>
  </div>
</div>
