* {
	box-sizing: border-box;

}

body {

}

h2 {
	text-align: center;
}

#wrapper {
	width: 600px;
	margin: 20px auto;
	background-color: #f9f9f9;
	padding: 20px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
}

.user {
	margin-bottom: 10px;
}

.user span {
	font-weight: bold;
	font-style: italic;
}