

	<div id="wrapper" class="col-md-6 col-md-offset-3">
    <h2 class="text-center">Fill the fields:</h2>
		<form id="sendForm">
			<div class="form-group"><input ng-model="user.Author" class="form-control" id="author" value="" type="text" placeholder="Author"></div>
			<div class="form-group"><input ng-model="user.Title" class="form-control" id="title" type="text" placeholder="Title"></div>
			<div class="form-group"><input ng-model="user.Text" class="form-control" id="text" type="text" placeholder="Text"></div>
			<div class="form-group"><input ng-click="addEntry(user)" class="btn btn-success center-block" id="submit" type="submit"></div>
		</form>
    <!-- <pre>user = {{user | json}}</pre>
    <pre>entry = {{entry | json}}</pre> -->
	</div>
