<div class="col-md-6 col-md-offset-3">Search: <input type="text" ng-model="$ctrl.query"></div>
<br>
<br>
<br>
<div ng-repeat="user in showAll.users | filter:$ctrl.query | orderBy: '-DateCreated'" class="user user-item col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
<div id="{{user.EntryId}}" >
  <span>id: </span>
  <div class="field"> {{user.EntryId}}</div>

  <span class="list">
  	<span  data-entryId="{{user.EntryId}}"><a class="edit" href="#/update/{{user.EntryId}}">edit</a> </span>
  	<span class="delete"> <a class="delete" ng-click="deleteEntry(user)">delete</a></span>
  	<span class="save"><a  href="/#/show-all/{{user.EntryId}}">details</a></span>
  </span>

  <br>

  <span>number: </span><div class="field"> {{$index+1}}</div><br>
  <span>author: </span><div class="field"> {{user.Author}}</div><br>
  <span>title: </span><div class="field"> {{user.Title}}</div><br>
  <span>text: </span><div class="field"> {{user.Text}}</div><br>
  <!-- <input type="text" value="{{Text}}"> -->

</div>


</div>
