<div  id="{{user.EntryId}}" class="user col-md-6 col-md-offset-3">

  <span>id: </span>
  <div class="field"> {{user.EntryId}}</div><br><br>

  <span>author: </span><div class="field"> {{user.Author}}</div><br><br>
  <span>title: </span><div class="field"> {{user.Title}}</div><br><br>
  <span>text: </span><div class="field"> {{user.Text}}</div><br><br>
  <!-- <input type="text" value="{{Text}}"> -->




</div>
