

	<div id="wrapper" class="col-md-6 col-md-offset-3 ">
    <h2>Fill the fields:</h2>
		<form id="sendForm">
			<div class="form-group"><input ng-model="user.Author" class="form-control" id="author"  type="text" value="{{user.Author}}"></div>
			<div class="form-group"><input ng-model="user.Title" class="form-control" id="title" type="text" value="{{user.Title}}"></div>
			<div class="form-group"><input ng-model="user.Text" class="form-control" id="text" type="text" value="{{user.Text}}"></div>
      <div class="form-group"><input ng-click="updateEntry(user)" class="btn btn-default center-block" id="submit" type="submit"></div>
		</form>
    <pre> user = {{user | json}}</pre>
    <pre> entry = {{entry | json}}</pre>
	</div>
