* {
	box-sizing: border-box;

}

body {
	font-family: 'PT Sans';
	font-size: 14px;
	padding-bottom: 250px;
}

h2 {
	text-align: center;
	font-weight: 700;
}

#wrapper {
	width: 600px;
	margin: 20px auto;
	background-color: #f9f9f9;
	padding: 30px 20px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
}

.user {
	margin-bottom: 10px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}

.user span {
	font-weight: bold;
	font-style: italic;
}

 input{
	margin: 10px auto;
	display: block;
	width: 70%;
	height: 35px;
}

 input[type="submit"] {
	margin: 15px auto;
	background: #c0392b;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	width: 30%;
	height: 40px;
}

h3.green {
	color: #2ecc71;
	font-weight: 700;
}

.linked a{
	text-align: center;
	padding: 5px 10px;
	background: #2ecc71;
	color: #fff;
	display: inline-block;
	margin: 10px auto;
	text-decoration: none;

}

.linked {
	width: 600px;
	margin: 5px auto 0px; 
	text-align: center;
}

.user div {
	display: inline-block;
}

.field {
	margin-right: 20px;
}

.edit {
	color: #2ecc71;
	cursor: pointer;
}

.delete {
	color: #e74c3c;
	cursor: pointer;
}

.save {
	color: #3498db;
	display: none;
	cursor: pointer;
}

.text {
	text-align: center;

}

.red {
	background: #e74c3c !important;
}