<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h4>Home page </h4>
      <div class="row">
        <ul class="list-unstyled col-md-6 col-md-offset-3">
          <li ng-repeat="post in homeCtrl.postList" class="user">
             <h4>{{post.Title}}</h4>
             <h5>{{post.Category}}</h5>
             <div class="post-img"><img src="{{post.Image}}" alt="{{post.Title}}"></div>
             <p>{{post.Text}}</p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
