.user {
	margin-bottom: 10px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}

.user span {
	font-weight: bold;
	font-style: italic;
}

 /*input{
	margin: 10px auto;
	display: block;
	width: 70%;
	height: 35px;
	padding: 5px;
}*/

 /*input[type="submit"] {
	margin: 15px auto;
	background: #c0392b;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	width: 30%;
	height: 40px;
}*/

h3.green {
	color: #2ecc71;
	font-weight: 700;
}

.linked a{
	text-align: center;
	padding: 5px 10px;
	background: #2ecc71;
	color: #fff;
	display: inline-block;
	margin: 10px auto;
	text-decoration: none;

}

.linked {
	width: 600px;
	margin: 5px auto 0px;
	text-align: center;
}

.user div {
	display: inline-block;
}

.field {
	margin-right: 20px;
}

.edit {
	color: #2ecc71;
	cursor: pointer;
}

.delete {
	color: #e74c3c;
	cursor: pointer;
}

.save {
	color: #3498db;

	cursor: pointer;
}

.text {
	text-align: center;

}

.red {
	background: #e74c3c !important;
}

.main {
	padding: 30px 0;
}

.list {
	float: right;
}

/*user-item*/


/**/


.user-item.ng-enter,
.user-item.ng-leave,
.user-item.ng-move {
  transition: 0.5s linear all;
}

.user-item.ng-enter,
.user-item.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.user-item.ng-enter.ng-enter-active,
.user-item.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.user-item.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.user-item.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}
